.main {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.navbar {
  grid-column: 1/2;
}

.products {
  /* width: 70%; */
  margin: 0 24px;
  grid-column: 1/2;
}

.cart-main {
  /* width: 30%; */
  grid-row: 1/-1;
  grid-column: 2/-1;
}